{% extends 'app/base.html' %}
{% load static %}
{% block title %}Current Addresses{% endblock title %}
{% block main-content %}
<div class="all-products-main"> 
    <div class="all-products-header profile-header">Welcome {{request.user}}</div>
    <div class="all-products-body">
        <div class="all-filters">
        <a href="{% url 'userdetails' %}" class="">Personal details</a>
        <a href="{% url 'profile' %}" class="">Add new address</a>
        <a href="" class="active-page">Current addresses</a>
        </div>
     
        <div class="all-items">
            {% for ad in add %}
            <div class="each-address">
                
                <div class="address-header">
                    <div class="address-number"><div class="lighter">{{forloop.counter}}</div></div>
                    <a href="#" class="remove-address" aid="{{ad.id}}">
                    <div class="delete-address-button light">
                        <img
                        class="delete-button-img light"
                        src="{% static 'app/images/cust-delete-icon.png' %}"
                        alt="Not found"
                      />
                    </div>
                    </a>
                </div>

                <div class="address-val">
                    <div class="w-500 lighter info-key">Name: </div>
                    <div class="light info-value">{{ad.name}}</div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">Locality: </div>
                    <div class="light info-value">{{ad.locality}}</div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">City: </div>
                    <div class="light info-value">{{ad.city}}</div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">State: </div>
                    <div class="light info-value">{{ad.state}}</div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">Pin Code: </div>
                    <div class="light info-value">{{ad.zipcode}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}

