{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="all-products-main">
  <div class="all-products-header">My cart</div>
  <div class="all-products-body">

    <div class="cart-items-main">
      <div class="upper-header lighter cart-items-header">ITEMS</div>
      {% for cart in carts %}
      <div class="each-cart-item">
        <div class="cart-item-img-div">
            <img src="{{cart.product.product_image.url}}" class="cart-item-img" height="150" width="150">
        </div>
        <div class="cart-item-details">

          <!-- product title -->
          <div class="product-header lighter each-cart-item-header">{{cart.product.title}}</div>

          <!-- product description -->
          <div class="light small">{{cart.product.description}}</div>

          <!-- quantity button -->
          <div class="quantity-div light">
              <div class="quantity-header light w-500">QUANTITY</div>

              <a class="minus-cart quantity-btn" pid="{{cart.product.id}}">
                <i class="fas fa-minus-square fa-lg"></i>
              </a>

              <div id="quantity" class="quantity-value">{{cart.quantity}}</div>

              <a class="plus-cart quantity-btn" pid="{{cart.product.id}}">
                <i class="fas fa-plus-square fa-lg"></i>
              </a>
          </div>

          <!-- remove button and price div -->
          <div class="remove-and-price-div">
              <div class="cart-item-price light">
                <span>&#8377;</span>
                {{cart.product.discounted_price}}
              </div>
              <a href="#" class="remove-cart" pid="{{cart.product.id}}">
                <button type="button" class="btn-6 lighter custom-btn-small"><span>REMOVE ITEM</span></button>
              </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <div class="cart-price-main">
      <div class="upper-header lighter price-main-header">PRICE DETAILS</div>

      <div class="price-section light">
        <div class="price-header no-wrap">AMOUNT</div>
        <div class="no-wrap">
          <span>&#8377;</span>
          <span id="amount">{{amount}}</span>
        </div>
      </div>

      <div class="price-section light shipping-price-div">
        <div class="price-header no-wrap">SHIPPING</div>
        <div class="no-wrap">
          <span>&#8377;</span>
          <span>70</span>
        </div>
      </div>

      <div class="price-section light total-price-div">
        <div class="">TOTAL <small class="no-wrap">(including GST)</small></div>
        <div class="no-wrap">
          <span>&#8377;</span>
          <span id ="totalamount">{{totalamount}}</span>
        </div>
      </div>

      <div class="place-order-button-div">
        <a href="{% url 'checkout' %}">
          <button type="button" class="custom-btn btn-6 light"><span>PLACE ORDER</span></button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
  
