{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="form-main-outer">
    <div class="form-main signup-main">
        <!-- SignUp form -->
        <form action="" method="post" novalidate class="form">
        <div class="upper-header light">CREATE A NEW ACCOUNT</div>

        {% if messages %}
        {% for message in messages %}
        <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}

        <!-- Signup form inputs -->
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-input-div">
            <div class="lower-header light">{{fm.label_tag}}*</div>
            <div class="each-form-input">{{fm}}</div>
            <small class="form-error light">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}

        <!-- Signup button -->
        <button type="submit" class="custom-btn btn-6 light"><span>SIGN UP</span></button>

        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="form-error light">{{error}}</p>
        {% endfor %}
        {% endif %}
        </form>

        <!-- Login redirect -->
        <div class="redirect-div">
            <div class="upper-header light">HAVE AN EXISTING ACCOUNT</div>
            <a href="{%  url 'login' %}">
                <button class="custom-btn btn-6 light"><span>LOGIN NOW</span></button>
            </a>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block footer %}<div class=""></div>{% endblock footer %}

