{% extends 'app/base.html' %}
{% load static %}
{% block title %}Girls{% endblock title %}
{% block main-content %}
<div class="all-products-main">
    <div class="all-products-header">Girls</div>
    <div class="all-products-body">
      <div class="all-filters">
        <a
          href="{% url 'girls'%}"
          class=""
          >All Fashions</a
        >
        <a
          href="{% url 'girlsdata' 'below' %}"
          class=""
          >Less than 3000</a
        >
        <a
          href="{% url 'girlsdata' 'above' %}"
          class=""
          >Greater than 3000</a
        >
      </div>
      <div class="all-items">
        {% for product in girls %}
        <a class="each-slide-item" href="{% url 'product-detail' product.id %}">
          <div class="slide-item-img">
            <img src="{{product.product_image.url}}" alt="not found" />
          </div>
          <div class="slide-item-details">
            <div class="slide-item-title light w-100">
              {{product.title}}
            </div>
            <div class="slide-item-price-outer">
              <div class="slide-item-price light">
                <span class="light">&#8377;</span> {{product.discounted_price}}
              </div>
              <small class="light">
                <span class="light">&#8377;</span>{{product.selling_price}}
              </small>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock main-content %}