{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="form-main-outer">
    <div class="form-main login-main">
        <!-- login form -->
        <form action="" method="post" novalidate class="form">
            <div class="upper-header light">ALREADY HAVE AN ACCOUNT</div>
            <!-- form inputs -->
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-input-div">
                <div class="lower-header light">{{fm.label_tag}}*</div>
                <div class="each-form-input">{{fm}}</div>
                <small class="form-error light">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}
    
            <!-- forgot password -->
            <a class="forget-pass light" href="{% url 'password_reset' %}">Forgot Password ?</a>
    
            <!-- login button -->
            <button type="submit" class="custom-btn btn-6 light"><span>LOGIN</span></button>
    
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors%}
            <p class="form-error light">{{error}}</p>
            {% endfor %}
            {% endif %}
        </form>
    
        <!-- Signup redirect -->
        <div class="redirect-div">
            <div class="upper-header light">DON'T HAVE AN ACCOUNT</div>
            <a href="{%  url 'customerregistration' %}">
                <button class="custom-btn btn-6 light"><span>SIGN UP</span></button>
            </a>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block footer %}<div class=""></div>{% endblock footer %}

