{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main-content %}
<div class="all-products-main">
  <div class="all-products-header">My Orders</div>
  <div class="all-products-body">

    <div class="placed-orders-div">
      {% for op in order_placed %}
        <div class="each-placed-order">
          
          <div class="placed-order-img-div">
            <img class="placed-order-img" src="{{op.product.product_image.url}}" alt="">
          </div>
 
          <div class="order-placed-product-details-outer">
            <div class="order-placed-product-details">
              <div class="lighter w-500">
                Product: {{op.product.title}}
              </div>
              <div class="light">
                Quantity: {{op.quantity}}
              </div>
              <div class="light">
                Price: {{op.total_cost}}
              </div>
            </div>

            <div class="progress-bar-div light">
              <div class="status w-500 light">{{op.status}}</div>

              {% if op.status == 'Pending' %}
              <div class="bar light">
                <div class="progress-0"></div>
              </div>
              {% endif %}

              {% if op.status == 'Accepted' %}
              <div class="bar lighter">
                <div class="progress-25"></div>
              </div>
              {% endif %}
  
              {% if op.status == 'Packed' %}
              <div class="bar lighter">
                <div class="progress-50"></div>
              </div>
              {% endif %}
  
              {% if op.status == 'On The Way' %} 
              <div class="bar lighter">
                <div class="progress-75"></div>
              </div>
              {% endif %}
  
              {% if op.status == 'Delivered' %} 
              <div class="bar lighter">
                <div class="progress-100"></div>
              </div>
              {% endif %}
            </div>
          </div>

        </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock main-content %}

