{% extends 'app/base.html' %}
{% load static %}
{% block title %}Order placed{% endblock title %}
{% block main-content %}
<div class="form-main-outer">
    <div class="form-main form-width">
        <div class="form">
            <!-- password changed header -->
            <div class="upper-header light">YOUR ORDER HAS BEEN PLACED</div>

            <!-- Animation gif -->
            <div class="events-none">
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
                width="200" height="200" frameborder="0" class="giphy-embed"
                allowFullScreen></iframe>
            </div>

            <!-- Cancel button -->
            <a href="{% url 'orders' %}" class="">
                <button type="button" class="custom-btn btn-6 light"><span>MY ORDERS</span></button>
            </a>
        </div>   
    </div>
</div>
{% endblock main-content%}
{% block footer %}<div class=""></div>{% endblock footer %}

 