{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<div class="form-main-outer">
    <div class="form-main form-width">
        <!-- Reset password form -->
        <form action="" method="post" novalidate class="form">
            <!-- password reset form header -->
            <div class="upper-header light">RESET PASSWORD</div>

            <!-- password reset form inputs -->
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-input-div">
                <div class="lower-header light">{{fm.label_tag}}*</div>
                <div class="each-form-input">{{fm}}</div>
                <small class="form-error light">{{fm.errors|striptags}}</small>
            </div>
            {% endfor %}

            <!-- Submit button -->
            <button type="submit" class="custom-btn btn-6 light"><span>SEND MAIL</span></button>

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="form-error light">{{error}}</p>
            {% endfor %}
            {% endif %} 
        </form>
    </div>
</div>
{% endblock main-content %}
{% block footer %}<div class=""></div>{% endblock footer %}

