{% extends 'app/base.html' %}
{% load static %} 
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="product-details-page-main">
  <!-- product image -->
  <div class="product-image-div">
    <img
      src="{{product.product_image.url}}"
      alt="Not Found"
      class="product-image"
    />
  </div>

  <!-- product details -->
  <div class="product-details">
    <!-- product title/description -->
    <div class="product-title-desc">
      <div class="product-header light">{{product.title}}</div>
      <p class="light">{{product.description}}</p>
    </div>

    <!-- price section -->
    <div class="price-main">
      <div class="discount-price light">
        <span>&#8377;</span> {{product.discounted_price}}
      </div>
      <div class="text-decoration-line-through lighter mrp-price">
        <span>MRP </span>
        <span>&#8377;</span>
        {{product.selling_price}}
      </div>
    </div>

    <!-- size section -->
    <div class="size-main">
      <div class="size-header light">SELECT SIZE</div>
      <div class="size-list">
        <div class="each-size light each-size-active">S</div>
        <div class="each-size light">M</div>
        <div class="each-size light">L</div>
        <div class="each-size light">XL</div>
        <div class="each-size light">XXL</div>
      </div>
    </div>

    <!-- cart/buy section -->
    <div class="product-buttons-div">
      <form action="/add-to-cart">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id" />
        <button type="submit" class="custom-btn btn-6 light"><span>ADD TO CART</span></button>
      </form>
  
      <a href="{% url 'buy-now' %}">
        <button class="custom-btn btn-6 light"><span>BUY NOW</span></button>
      </a>
    </div>
    
  </div>
</div>
{% endblock main-content %}
