{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %} 
<div class="all-products-main">
  <div class="all-products-header profile-header">Welcome {{request.user}}</div>
  <div class="all-products-body">
    <div class="all-filters">
      <a href="./userdetails.html" class="">Personal details</a>
      <a href="" class="active-page">Add new address</a>
      <a href="{% url 'address' %}" class="">Current addresses</a>
    </div>
 
    <div class="all-items">
      <form action="" method="post" novalidate class="form">
        <!-- Password change form header -->
        <div class="upper-header light">ADD A NEW ADDRESS</div>
  
        <!-- password change form inputs -->
        {% csrf_token %}
          {% for fm in form %}
            <div class="form-input-div">
              <div class="lower-header light">{{fm.label_tag}}*</div>
              <div class="each-form-input">{{fm}}</div>
              <small class="form-error light">{{fm.errors|striptags}}</small>
            </div>
        {% endfor %}
  
        <!-- Password change button -->
        <button type="submit" class="custom-btn btn-6 light"><span>CONFIRM</span></button>
  
        {% if messages %} 
        {% for message in messages %}
        <p {% if message.tags %} class="form-error light" {% endif %}>{{message}}</p>
        {% endfor %}
        {% endif %}
      </form>
    </div>

  </div>
</div>
{% endblock main-content %}

