{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="all-products-main"> 
    <div class="all-products-header profile-header">Welcome {{request.user}}</div>
    <div class="all-products-body">
        <div class="all-filters">
        <a href="" class="active-page">Personal details</a>
        <a href="{% url 'profile' %}" class="">Add new address</a>
        <a href="{% url 'address' %}" class="">Current addresses</a>
        </div>
    
        <div class="all-items">
            <div class="each-address">
                <div class="address-header">
                    <div class="address-number"><div class="lighter">1</div></div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">Username: </div>
                    <div class="light info-value">{{request.user}}</div>
                </div>
                <div class="address-val">
                    <div class="w-500 lighter info-key">Email: </div>
                    <div class="light info-value">{{request.user.email}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}

