{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="all-products-main"> 
    <div class="all-products-header profile-header">Welcome {{request.user}}</div>
    <div class="all-products-body">
        <div class="all-filters">
        <a href="" class="active-page">Personal details</a>
        <a href="{% url 'profile' %}" class="">Add new address</a>
        <a href="{% url 'address' %}" class="">Current addresses</a>
        </div>
    
        <div class="all-items">
        </div>
    </div>
</div>
{% endblock main-content %}

