* {
  user-select: none;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.w-100{
  font-weight: 100;
}
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 50;
  background-color: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.search-div > input {
  font-size: 14px;
}
.website-name {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header-first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-second {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2px 0px 5px 0px;
  font-size: 1.35vw;
  padding-right: 10px;
}

.search-div {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: rgba(232, 232, 232, 0.63);
  border-radius: 5px;
}
.search-div > input {
  border: none;
  width: 100%;
  padding-left: 12px;
  letter-spacing: 0.5px;
  background: transparent;
  color: rgba(0, 0, 0, 0.596);
  border-radius: 5px;
}
.search-div > input:focus {
  outline: none;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  border: none;
  background: transparent;
}
.search-button-img {
  padding: 5px;
  height: 34px;
  border-radius: 50%;
  margin-right: 12px;
  background: transparent;
}
.search-button:focus {
  outline: none;
}

.nav-left-buttons,
.nav-right-buttons {
  display: none;
}

.menu-button {
  visibility: visible;
  margin-left: 5px;
}
.menu-button,
.menu-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  background: transparent;
}
.menu-button-img,
.menu-close-button-img {
  padding: 5px;
  height: 28px;
  background-color: white;
  background: transparent;
}
.menu-button:focus,
.menu-close-button:focus {
  outline: none;
}

.menu-close-button {
  position: absolute;
  left: 0;
  visibility: hidden;
}
.menu-close-button-img {
  height: 34px;
}

.dropdown-head {
  cursor: pointer;
}
.drop-menu {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
.show-drop-menu {
  max-height: 200px;
}
.drop-item {
  font-size: 14px;
}

.toggle-menu {
  transition: 0.3s ease-in-out;
  position: fixed;
  margin: 0;
  overflow-y: auto;
  z-index: 60;
  width: 180px;
  height: auto;
  opacity: 0;
  pointer-events: none;
  box-shadow: rgba(33, 35, 38, 0.1) 10px 0px 10px -10px;
  background-color: white;
}
.show-toggle-menu {
  opacity: 1;
  pointer-events: all;
}

.toggle-menu > a > div,
.dropdown-head,
.toggle-menu > div > div > a {
  margin: 2px 0px 2px 0px;
  padding: 6px 0px 6px 10px;
  transition: 0.1s ease-in;
}

header > * {
  color: black;
}

.toggle-menu > a > div,
.toggle-menu > div,
.toggle-menu > div > div > a {
  color: black;
}

div > a {
  text-decoration: none;
  color: black;
}
div > a:hover {
  color: black;
  text-decoration: none;
}

.content-body {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.disable {
  pointer-events: none;
  cursor: default;
}

.login-div {
  margin-top: 50px;
}

.carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.row {
  width: 100%;
}
.custom-slider-row {
  padding: 15px 40px 15px 70px;
}
.slider-head {
  font-size: x-large;
  margin-bottom: 15px;
}
.each-slide-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.091);
  aspect-ratio: 1/1.6;
  border-radius: 8px;
  justify-content: space-between;
  gap: 10px;
}
.slide-item-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 80%;
}
.slide-item-img > img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.slide-item-details {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 8px 8px 8px;
}
.slide-item-price {
  font-size: 4vw;
  background-color: rgba(0, 0, 0, 0.548);
  width: max-content;
  color: white;
  padding: 0.05vw 1.3vw 0.1vw 1.3vw;
  border-radius: 10%;
}
.slide-item-title {
  font-size: 5vw;
  color: black;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.all-products-main {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1%;
}
.all-products-header {
  font-weight: 300;
  font-size: 6vw;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1%;
  opacity: 0.4;
}
.all-products-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}
.all-filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.144);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.144);
}
.all-filters > a {
  padding: 3%;
  transition: 0.2s ease-in-out;
  opacity: 0.4;
}
.all-filters > a:hover {
  opacity: 1;
}

.all-items {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.all-items > .each-slide-item {
  margin: 10% auto;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.all-items > .each-slide-item:hover {
  box-shadow: rgba(0, 0, 0, 0.226) 0px 5px 15px;
}
.slide-item-price-outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.slide-item-price-outer > small {
  text-decoration: line-through;
}

.mrp,
.light {
  opacity: 0.68;
}
.lighter {
  opacity: 0.5;
}

.product-details-page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 4%;
  align-items: center;
}
.product-image-div{
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.product-image {
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.product-image:hover {
  transform: scale(1.05);
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.247);
  margin-top: 2.5%;
  padding-top: 10px;
  width: 100%;
}
.product-header {
  font-size: 25px;
  letter-spacing: 1px;
}
.discount-price{
  font-size: 26px;
  font-weight: bolder;
}
.mrp-price{
  font-size: 12px;
}
.size-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.size-header {
  font-size: 16px;
  letter-spacing: 0.5px;
}
.size-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.each-size {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.438);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.each-size:hover{
  border: 1px solid black;
}
.each-size-active{
  background-color: black;
  color: white;
}

.product-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.form-main-outer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: max-content;
  height: max-content;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 3px;
}
.login-main{
  max-width: 332px;
}
.signup-main{
  max-width: 450px;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  padding-top: 12px;
  padding-bottom: 40px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.144);
}
.form-input-div{
  width: 100%;
}
/* .each-form-input > *, .each-form-input > *:focus{
  outline: none;
  border: none;
} */
.each-form-input > *{
  outline: none;
  border: none;
  border-radius: none;
}
.upper-header{
  width: 100%;
  font-size: 20px;
  word-spacing: 2px;
  font-weight: 500;
  text-align: center;
}
.lower-header{
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.lower-header:hover{
  color: black;
  text-decoration: none;
}
.forget-pass{
  width: max-content;
  color: black;
  font-size: 12px;
  text-decoration: none;
  align-self: flex-start;
}
.forget-pass:hover{
  color: black;
  text-decoration: none;
}
.redirect-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.form-error{
  width: auto;
  display: flex;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.custom-btn {
  width: 250px;
  height: 42px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.custom-btn:focus{
  border-radius: 0px;
  outline: none;
}
.btn-6 {
  background: #000000;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #000;
}
.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btn-6:hover {
  color: #000;
  background: transparent;
}
.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  background: #000;
}
.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 500ms ease;
}
.btn-6 span:hover:before {
  width: 100%;
}
.btn-6 span:hover:after {
  width: 100%;
}

@media (min-width: 1260px) {
  .header {
    flex-direction: row;
    padding: 10px;
    top: 0;
    left: 0;
    transition: 0.3s;
  }
  .header-bg-white {
    background-color: white;
  }
  .header-bg-trans {
    background-color: transparent;
  }
  .header-first {
    margin-top: -5px;
    padding-left: 5px;
  }
  .dropdown-head:hover,
  .dropdown-head > a,
  .dropdown-head > a:hover,
  .drop-item,
  .drop-item:hover {
    color: black;
  }
  .search-div {
    background-color: rgba(232, 232, 232, 0.623);
  }
  .nav-left-buttons,
  .nav-right-buttons {
    display: flex;
    justify-content: space-around;
  }
  .nav-left-buttons {
    width: 80%;
    padding: 0px 2%;
  }
  .nav-right-buttons {
    padding-left: 2%;
    width: 50%;
  }
  .menu-button,
  .toggle-menu,
  .menu-close-button {
    display: none;
  }
  .dropdown-head {
    padding: 0px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 7px;
    transition: 0.2s;
  }

  .dropdown-head::after,
  .drop-item::after,
  .forget-pass::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.3s;
    pointer-events: none;
  }
  .dropdown-head::after:active,
  .drop-item::after:active {
    pointer-events: none;
  }

  .dropdown-head:hover::after,
  .drop-item:hover::after,
  .forget-pass:hover::after{
    width: 100%;
  }
  .dropdown:active {
    pointer-events: none;
  }
  .dropdown-head:hover {
    background: transparent;
  }
  .dropdown-head > a:hover {
    cursor: pointer;
  }
  .drop-menu {
    position: absolute;
    width: 8.2rem;
    margin-top: -3px;
    margin-left: 0px;
    background-color: white;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    transform: translateY(0%);
    height: auto;
    overflow: auto;
    max-height: none;
  }
  .show-drop-menu {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    height: auto;
  }
  .drop-item {
    font-size: 14px;
    padding: 10px 5px;
  }
  .ptr-all:active {
    pointer-events: all;
  }
  .cart,
  .login,
  .signup {
    cursor: context-menu;
  }
  .header:active,
  .header-second:active,
  .nav-left-buttons:active,
  .nav-right-buttons:active {
    pointer-events: none;
  }
  .website-name:active {
    pointer-events: all;
  }
}

@media (min-width: 400px) {
  .slide-item-price {
    font-size: 2.2vw;
    padding: 0.05vw 1vw 0.1vw 1vw;
  }
  .slide-item-title {
    font-size: 2.5vw;
  }
  .all-products-header {
    font-size: 5vw;
  }
  .all-items
    > .each-slide-item
    > .slide-item-details
    > .slide-item-price-outer
    > .slide-item-price {
    font-size: 4vw;
    padding: 0.05vw 1.3vw 0.1vw 1.3vw;
  }
  .all-items > .each-slide-item > .slide-item-details > .slide-item-title {
    font-size: 5vw;
  }
}

@media (min-width: 500px) {
  .product-buttons-div {
    justify-content: flex-start;
  }
  .custom-btn{
    width: 180px;
    margin: 0px;
  }
}

@media (min-width: 600px) {
  .all-items
    > .each-slide-item
    > .slide-item-details
    > .slide-item-price-outer
    > .slide-item-price,
  .slide-item-price {
    font-size: 1.6vw;
    padding: 0.05vw 0.8vw 0.1vw 0.8vw;
  }
  .all-items > .each-slide-item > .slide-item-details > .slide-item-title,
  .slide-item-title {
    font-size: 1.8vw;
  }
  .all-products-header {
    font-size: 4vw;
  }
  .all-products-body {
    flex-direction: row;
    align-items: flex-start;
  }
  .all-filters {
    width: 20%;
    border-bottom: 0px;
  }
  .all-filters > a {
    padding: 5%;
  }
  .all-items {
    border-top: 0.5px solid rgba(0, 0, 0, 0.144);
    border-left: 0.5px solid rgba(0, 0, 0, 0.144);
  }
  .all-items > .each-slide-item {
    width: 40%;
    margin: 5% 5%;
  }
}

@media (min-width: 800px) {
  .custom-slider-row {
    margin-bottom: 5vh;
  }

  .product-details-page-main {
    flex-direction: row;
    gap: 2%;
    align-items: normal;
  }
  .product-image{
    width: 100%;
  }
  .product-details {
    border-left: 0.5px solid rgba(0, 0, 0, 0.247);
    border-top: 0px;
    padding-left: 2.5%;
    padding-top: 0px;
    margin-top: 0%;
    width: 60%;
    gap: 4%;
  }
  .product-header {
    font-size: 30px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.247);
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1000px) {
  .all-items
    > .each-slide-item
    > .slide-item-details
    > .slide-item-price-outer
    > .slide-item-price,
  .slide-item-price {
    font-size: 1.2vw;
    padding: 0.05vw 0.5vw 0.1vw 0.5vw;
  }
  .all-items > .each-slide-item > .slide-item-details > .slide-item-title,
  .slide-item-title {
    font-size: 1.5vw;
  }
  .all-products-header {
    font-size: 3vw;
  }
  .all-items > .each-slide-item {
    width: 26.33%;
    margin: 3% 3%;
  }
}

@media (min-width: 1200px) {
  .product-image-div{
    width: 40%;
  }
}

@media (min-width: 1500px) {
  .product-image-div{
    width: 50%;
  }
}

